@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  /* background-color: black; */
}

.navbar{
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  color: white;
  background-color: black;
}

.site_name{
  font-size: 2rem;
  padding: 0.9rem 0 0.9rem 0;
}

.nav_list{
  /* border: 2px solid green; */
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
  margin: auto 0;
  
}
.nav_list li a{
  margin: 0 auto 0 auto;
  color: white;
  text-decoration: none;
}
.nav_list a:hover , .nav_list button:hover{
  color: aqua;
  text-decoration: underline;
  transition: 0.5s;
  
}


/* #################################################body############### */
/* #################################################body############### */

.container{
  min-width:400px;
  width: 35%;
  border: 4px solid red;
}

.posts{
  background-color: #2B2B2B;
  
}



/* ############################################buttons###################*/
/* ############################################buttons###################*/

.like_button{
  background-color: #202020;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0 2em;
  
  margin-top: 4px;
}

.like_button:hover{
  background-color: black;
  font: white ;
  color: aqua;
}


/* #######################footer############## */

.footer{
  background-color: #2B2B2B;
}




/* ##################### forms ################## */
.form_grp input{
  border: 1px solid blue;
  margin-left: 1em;
  text-align: center;
  padding: 0.05em 0.05em;
  border-radius: 1rem;
}

.form_button{
  background-color: black;
  color: white;
  border-radius: 3rem;
  padding: 0.2em 2.3em;
  margin-bottom: 1em ;
  font-size: 1rem;

}
.form_button:hover{
  background-color: white;
  color: black;
  /* text-decoration: underline; */
  border: 3px solid black;
  
}

.form_container {
  margin: auto;
  text-align: center ;
  
}
.form_container div{
  margin: 1em 0;  
  
}



/* .form_page{
  width: 100vw;
  display: grid;
  place-items: center;  
} */




/* ########################## PROFILE PAGE #################### */
/* ########################## PROFILE PAGE #################### */
/* ########################## PROFILE PAGE #################### */
.profile_page{
  background-color: #121212;
  color: white;
}

.pp_container {
  width: 75%;
  margin: auto;
}

.section {
  background-color: #181818;
  /* border: 2px solid green; */
}
.section .item{
  /* border: 2px solid blue; */
  width: 25%;
  /* margin: auto ; */  
}

.section .posts,.alu,.likes{
  margin: auto;
  /* padding: 0 7.5rem; */
  text-align: center;
}

.section .counts{
  font-weight: bolder;
  font-size: xx-large;
}

.section img{
  margin: 3em 4.45em;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;

  
}

/* ######################### updates section ######################### */

.updates .update_buttons input[type="file"]{
  color: aqua;
  font-weight: 400;
  /* border: 2px solid green; */
  text-align: center;
  margin: 0.2rem 0;
  width: 100%;
}
.updates .update_buttons input::file-selector-button{
  color: white;
  background-color: black;
  border-radius: 5rem;
  border: none;
  padding: 0.4em 2em;
  /* border: 2px solid red; */
}
.updates .update_buttons input::file-selector-button:hover{
  background-color: white;
  color: black;
  border: 3px solid black;

}

.updates .btn .save_changes{
  border-radius: 5rem;
  font-weight: bolder;
  padding: 0.5em 1.8em;
  text-align: center;
  background-color: #121212;
}
.updates .btn .save_changes:hover{
  background-color: #181818;
  color: aqua;
}




/* ############## posts_lists ############## */
.section .column{
  width: 25%;
  text-align: center;

}


/* ##################### REGISTER_PAGE ##################### */
/* ##################### REGISTER_PAGE ##################### */
/* ##################### REGISTER_PAGE ##################### */

.form_grp{
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-around;
}
.form_grp input[name="username"]{
  /* border: 3px solid green; */
  margin-left: 2.3rem;  
}
.form_grp input[name="password"]{
  /* border: 3px solid green; */
  margin-left: 2.4rem;
}


.form_grp input:focus{
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);

  padding: 0.2em;
  background-color: rgb(159, 238, 246);
  border: 2px solid blue;
}