@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  /* background-color: black; */
}

.navbar{
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  color: white;
  background-color: black;
}

.site_name{
  font-size: 2rem;
  padding: 0.9rem 0 0.9rem 0;
}

.nav_list{
  /* border: 2px solid green; */
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
  margin: auto 0;
  
}
.nav_list li a{
  margin: 0 auto 0 auto;
  color: white;
  text-decoration: none;
}
.nav_list a:hover , .nav_list button:hover{
  color: aqua;
  text-decoration: underline;
  transition: 0.5s;
  
}


/* #################################################body############### */
/* #################################################body############### */

.container{
  min-width:400px;
  width: 35%;
  border: 4px solid red;
}

.posts{
  background-color: #2B2B2B;
  
}



/* ############################################buttons###################*/
/* ############################################buttons###################*/

.like_button{
  background-color: #202020;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0 2em;
  
  margin-top: 4px;
}

.like_button:hover{
  background-color: black;
  font: white ;
  color: aqua;
}


/* #######################footer############## */

.footer{
  background-color: #2B2B2B;
}




/* ##################### forms ################## */
.form_grp input{
  border: 1px solid blue;
  margin-left: 1em;
  text-align: center;
  padding: 0.05em 0.05em;
  border-radius: 1rem;
}

.form_button{
  background-color: black;
  color: white;
  border-radius: 3rem;
  padding: 0.2em 2.3em;
  margin-bottom: 1em ;
  font-size: 1rem;

}
.form_button:hover{
  background-color: white;
  color: black;
  /* text-decoration: underline; */
  border: 3px solid black;
  
}

.form_container {
  margin: auto;
  text-align: center ;
  
}
.form_container div{
  margin: 1em 0;  
  
}



/* .form_page{
  width: 100vw;
  display: grid;
  place-items: center;  
} */